@page "/Anime/{AnimeId}"
@model AMR_Project.Pages.Animes.AnimeModel
@{
}
@using AMR_Project.DAL
@inject ApplicationContext db
    <section class="conteiner">
        <div class="title">
            <div>
                @{
                    if (Model.Anime.MainImage != null)
                    {
                        <img class="PopularAnime imgAnime"
                             src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Anime.MainImage.Picture))"
                             alt="@Model.Anime.Name"
                             title="@Model.Anime.Name" />
                    }
                    else
                    {
                        <img class="PopularAnime imgAnime"
                             alt="@Model.Anime.Name"
                             title="@Model.Anime.Name" />
                    }
                }
                <form method="post">
                    <input name="Rate" type="number" />
                    <button type="submit">Submit</button>
                </form>
                <form method="post" asp-page-handler="Select">
                    <select name="selectList" class="listOfLists" onchange="this.form.submit()" ;>
                        <option selected>Добавить в список</option>
                        <option value="Watching">Смотрю</option>
                        <option value="Dropped">Брошено</option>
                        <option value="Planned">Запланировано</option>
                        <option value="Watched">Просмотренно</option>
                    </select>
                </form>
            </div>
            <div>
                <h1>@Model.Anime.Name / @Model.Anime.OriginalName</h1>
                <p>Рейтинг: @Model.AvgRating Кол-во голосов: @Model.Anime.RatingPeopleCount</p>
                <hr>
                <div class="columnInfoTitle">
                    <div class="nameInfoTitle">
                        @if (!Model.Anime.Status.Equals("Вышел"))
                        {
                            <p>Следующий эпизод:</p>
                        }
                        <p>Японское название</p>
                        <p>Английское название</p>
                        <p>Тип</p>
                        @if (Model.Anime.Type.Equals("Фильм"))
                        {

                        }
                        else
                        {
                            <p>Эпизод</p>
                        }
                        <p>Статус </p>
                        <p>Выпуск</p>
                        <p>Жанр</p>
                        <p>Первоисточник</p>
                        <p>Студия</p>
                        <p>Рейтинг MPAA</p>
                        <p>Длительность</p>
                        <p>Озвучка</p>
                    </div>
                    <div>
                        @if (!Model.Anime.Status.Equals("Вышел"))
                        {
                            <p>@Model.Anime.NextEpisodeTime.ToString("dd MMM yyyy ddd HH:mm")</p>
                        }
                        <p>@Model.Anime.JapanName</p>
                        <p>@Model.Anime.EnglishName</p>
                        <p>@Model.Anime.Type</p>
                        @if (Model.Anime.Type.Equals("Фильм"))
                        {

                        }
                        else
                        {
                            <p>@Model.Anime.CountEpisodesForNow / @Model.Anime.CountEpisodes</p>
                        }
                        <p>@Model.Anime.Status</p>
                        @{
                            if (Model.Anime.Type.Equals("Фильм"))
                            {
                                <p>Вышло @Model.Anime.StartDate.ToString("d MMMM yyyy")</p>
                            }
                            else if (Model.Anime.Status.Equals("Вышел"))
                            {
                                <p>С @Model.Anime.StartDate.ToString("d MMMM yyyy") по @Model.Anime.EndDate.ToString("d MMMM yyyy")</p>
                            }
                            else
                            {
                                <p>С @Model.Anime.StartDate.ToString("d MMMM yyyy")</p>
                            }
                        }
                        <p>

                            @foreach (var genre in Model.Anime.Genres)
                            {
                                <label>@genre.Name</label>
                            }

                        </p>
                        <p>@Model.Anime.Source</p>
                        <p>@Model.Anime.Studio</p>
                        <p>@Model.Anime.AgeRating</p>
                        <p>@Model.Anime.Duration</p>
                        <p>
                            @{
                                for (Int32 i = 0; i < Model.Anime.Tags.Count; i++)
                                {
                                    <label>@Model.Anime.Tags[i].Name</label>
                                }
                            }
                        </p>
                        <p>
                            @{
                                for (Int32 i = 0; i < Model.Anime.DubStudios.Count; i++)
                                {
                                    <label>@Model.Anime.DubStudios[i].Name</label>
                                }
                            }
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="description">
            <h2>Описание</h2>
            <p>@Model.Anime.Description</p>
        </div>
        @if (Model.Anime.Screenshots.Count != 0 && Model.Anime.Screenshots != null)
        {
            <p>Скриншоты:</p>
            @for (var i = 0; i < Model.Anime.Screenshots.Count; i++)
            {
                if (Model.Anime.Screenshots[i] != null)
                {
                    <img class="PopularAnime imgAnime"
                         src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Anime.Screenshots[i].Picture))"
                         alt="@Model.Anime.Name"
                         title="@Model.Anime.Name" />
                }
                else
                {
                    <img class="PopularAnime imgAnime"
                         alt="@Model.Anime.Name"
                         title="@Model.Anime.Name" />
                }
            }
        }
        <video class="animeVideo" src="~/img/InShot_20210221_212759508.mp4" controls repeat></video>
    </section>