@page "/Anime/{AnimeId}"
@model AMR_Project.Pages.Animes.AnimeModel
@{
}
@using AMR_Project.DAL
@inject ApplicationContext db
<div class="infoAnimeTitle">
    <div>
        @{
            if (Model.Anime.MainImage != null)
            {
                <img class="PopularAnime imgAnime"
                     src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Anime.MainImage.Picture))"
                     alt="@Model.Anime.Name"
                     title="@Model.Anime.Name" />
            }
            else
            {
                <img class="PopularAnime imgAnime"
                     alt="@Model.Anime.Name"
                     title="@Model.Anime.Name" />
            }
        }
        <form method="post">
            <input name="Rate" type="number" />
            <button type="submit">Submit</button>
        </form>
        <form method="post" asp-page-handler="Select">
            <select name="selectList" class="listOfLists" onchange="this.form.submit()" ;>
                <option selected>Добавить в список</option>
                <option value="Watching">Смотрю</option>
                <option value="Dropped">Брошено</option>
                <option value="Planned">Запланировано</option>
                <option value="Watched">Просмотренно</option>
            </select>
        </form>
    </div>
    <div>
        <h1>@Model.Anime.Name / @Model.Anime.OriginalName</h1>
        <p>Рейтинг: @Model.AvgRating Кол-во голосов: @Model.Anime.RatingPeopleCount</p>
        <hr>
        <div class="columnInfoAnimeTitle">
            <div class="nameInfoTitle">
                @if (!Model.Anime.Status.Equals("Вышел"))
                {
                    <p>Следующий эпизод:</p>
                }
                <p>Японское название</p>
                <p>Английское название</p>
                <p>Тип</р>
                <p>Эпизод</р>
                <p>Статус </р>
                <p>Выпуск</p>
                <p>Жанр</р>
                <p>Первоисточник</р>
                <p>Студия</р>
                <p>Рейтинг MPAA</р>
                <p>Длительность</р>
                <p>Озвучка</p>
            </div>
            <div>
                @if (!Model.Anime.Status.Equals("Вышел"))
                {
                    <p>@Model.Anime.NextEpisodeTime.ToString("dd MMM yyyy ddd HH:mm")</p>
                }
                <p>@Model.Anime.JapanName</p>
                <p>@Model.Anime.EnglishName</p>
                <p>@Model.Anime.Type</р>
                <p>@Model.Anime.CountEpisodesForNow / @Model.Anime.CountEpisodes</р>
                <p>
                    @Model.Anime.Status</р>
                @if (Model.Anime.Status.Equals("Вышел"))
                {
                <p>С @Model.Anime.StartDate.ToString("d MMMM yyyy") по @Model.Anime.EndDate.ToString("d MMMM yyyy")</p>
            }
            else
            {
                <p>С @Model.Anime.StartDate.ToString("d MMMM yyyy")</p>
            }
                <p>
                    @{
                        for (Int32 i = 0; i < Model.Anime.Genres.Count; i++)
                        {
                            <label>@Model.Anime.Genres[i].Name</label>
                        }
                    }
                    </р>
                <p>@Model.Anime.Source</р>
                <p>@Model.Anime.Studio</р>
                <p>@Model.Anime.AgeRating</р>
                <p>@Model.Anime.Duration</р>
                <p>
                    @{
                        for (Int32 i = 0; i < Model.Anime.Tags.Count; i++)
                        {
                            <label>@Model.Anime.Tags[i].Name</label>
                        }
                    }
                    </р>
                <p>
                    @{
                        for (Int32 i = 0; i < Model.Anime.DubStudios.Count; i++)
                        {
                            <label>@Model.Anime.DubStudios[i].Name</label>
                        }
                    }
                    </р>
            </div>
        </div>
    </div>
</div>
<div class="description">
    <h2>Описание</h2>
    <p>@Model.Anime.Description</p>
</div>
<p>Скриншоты:</p>
@for (var i = 0; i < Model.Anime.Screenshots.Count; i++)
{
    if (Model.Anime.Screenshots[i] != null)
    {
        <img class="PopularAnime imgAnime"
             src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Anime.Screenshots[i].Picture))"
             alt="@Model.Anime.Name"
             title="@Model.Anime.Name" />
    }
    else
    {
        <img class="PopularAnime imgAnime"
             alt="@Model.Anime.Name"
             title="@Model.Anime.Name" />
    }
}
<video class="animeVideo" src="~/img/InShot_20210221_212759508.mp4" controls repeat></video>