@page "/RanobeMain"
@model AMR_Project.Pages.Ranobes.MainRanobeModel
@{
}
<section class="conteiner">
    <div class="Popular">
        <div class="textPopular">
            <h2>Самые популярные ранобэ</h2>
            <a class="textAllAnime" asp-page="/Ranobe/AllRanobe">Все ранобэ</a>
        </div>
        <div class="slider">
            @{
                var ranobesPopular = Model.Ranobes.OrderByDescending(a => a.Rating).Take(7).Select(a => a).ToList();
                for (Int32 i = 0; i < ranobesPopular.Count; i++)
                {
                    <a asp-page="/Ranobes/Ranobe" asp-route-ranobeId="@ranobesPopular[i].Id">
                        @if (ranobesPopular[i].MainImage != null)
                        {
                            <img class="imgAnime"
                                 src="data:image/jpeg;base64,@(Convert.ToBase64String(ranobesPopular[i].MainImage))"
                                 alt="@ranobesPopular[i].Name"
                                 title="@ranobesPopular[i].Name" />
                        }
                        else
                        {
                            <img class="imgAnime"
                                 alt="@ranobesPopular[i].Name"
                                 title="@ranobesPopular[i].Name" />
                        }
                    </a>
                }
            }

        </div>
    </div>
    <!-- <div class="scheduleAndOngoings"> -->
    <!-- <div class="schedule"> -->
    <!-- <h3>Расписание</h3>
    <div class="WeekDay">
        <span class="nameWeekDay">Понедельник</span>
        <ul class="ongoingsWeekDay displayNone">
            <li class="ongoingsWeekDay-item" title="Реикарнация">
                <img class="roundPicture" src="../img/45576.jpg" alt="Реикарнация" title="Реикарнация">
                <p>Реинкарнация безработного: История о приключениях в другом мире</p>
                <p>10 серия <br> (2 янв. 17:15)</p>
            </li>
            <li class="ongoingsWeekDay-item">
                <img class="roundPicture" src="../img/38524.jpg" alt="Атака титанов" title="Атака титанов">
                <p>Атака титанов</p>
                <p>10 серия <br> (2 янв. 17:15)</p></li>
            <li class="ongoingsWeekDay-item">hjk</li>
            <li class="ongoingsWeekDay-item">huijk</li>
            <li class="ongoingsWeekDay-item">hhjk</li>
        </ul>
        <span class="nameWeekDay">Вторник</span>
        <ul class="ongoingsWeekDay displayNone">
            <li class="ongoingsWeekDay-item">frgt</li>
            <li class="ongoingsWeekDay-item">rety</li>
            <li class="ongoingsWeekDay-item">ert</li>
            <li class="ongoingsWeekDay-item">ert</li>
            <li class="ongoingsWeekDay-item">ret</li>
        </ul>
        <span class="nameWeekDay">Среда</span>
        <ul class="ongoingsWeekDay displayNone">
            <li class="ongoingsWeekDay-item">frgt</li>
            <li class="ongoingsWeekDay-item">frgth</li>
            <li class="ongoingsWeekDay-item">sdfgh</li>
            <li class="ongoingsWeekDay-item">er</li>
            <li class="ongoingsWeekDay-item">dfg</li>
        </ul>
        <span class="nameWeekDay">Четверг</span>
        <ul class="ongoingsWeekDay displayNone">
            <li class="ongoingsWeekDay-item">fglkj;l</li>
            <li class="ongoingsWeekDay-item">fglkj;l</li>
            <li class="ongoingsWeekDay-item">fglkj;l</li>
            <li class="ongoingsWeekDay-item">fglkj;l</li>
            <li class="ongoingsWeekDay-item">fglkj;l</li>
        </ul>
        <span class="nameWeekDay">Пятница</span>
        <ul class="ongoingsWeekDay displayNone">
            <li class="ongoingsWeekDay-item">fglkj;l</li>
            <li class="ongoingsWeekDay-item">fglkj;l</li>
            <li class="ongoingsWeekDay-item">fglkj;l</li>
            <li class="ongoingsWeekDay-item">fglkj;l</li>
            <li class="ongoingsWeekDay-item">fglkj;l</li>
        </ul>
        <span class="nameWeekDay">Суббота</span>
        <ul class="ongoingsWeekDay displayNone">
            <li class="ongoingsWeekDay-item">fglkj;l</li>
            <li class="ongoingsWeekDay-item">fglkj;l</li>
            <li class="ongoingsWeekDay-item">fglkj;l</li>
            <li class="ongoingsWeekDay-item">fglkj;l</li>
            <li class="ongoingsWeekDay-item">fglkj;l</li>
        </ul>
        <span class="nameWeekDay">Воскресенье</span>
        <ul class="ongoingsWeekDay displayNone">
            <li class="ongoingsWeekDay-item">fglkj;l</li>
            <li class="ongoingsWeekDay-item">fglkj;l</li>
            <li class="ongoingsWeekDay-item">fglkj;l</li>
            <li class="ongoingsWeekDay-item">fglkj;l</li>
            <li class="ongoingsWeekDay-item">fglkj;l</li>
        </ul>
    </div> -->
    <!-- </div> -->
    <div class="ongoings">
        <h2 class="textOngoing">Онгоинги</h2>
        <div class="imgongoings">
            @{
                var ranobesOngoings = Model.Ranobes.Where(a => a.Status == "Онгоинг").Take(8).Select(a => a).ToList();
                for (Int32 i = 0; i < ranobesOngoings.Count; i++)
                {
                    <a asp-page="/Mangas/Manga" asp-route-mangaId="@ranobesOngoings[i].Id">
                        @if (ranobesOngoings[i].MainImage != null)
                        {
                            <img class="imgAnime"
                                 src="data:image/jpeg;base64,@(Convert.ToBase64String(ranobesOngoings[i].MainImage))"
                                 alt="@ranobesOngoings[i].Name"
                                 title="@ranobesOngoings[i].Name" />
                        }
                        else
                        {
                            <img class="imgAnime"
                                 alt="@ranobesOngoings[i].Name"
                                 title="@ranobesOngoings[i].Name" />
                        }
                    </a>
                }
            }
        </div>
    </div>
    <!-- </div> -->
</section>