@page "/Ranobes/{ranobeId}/{chapterNumber}"
@model AMR_Project.Pages.Ranobes.RanobeReadModel
@{
}


<section class="conteinerReadRanobe">
    <div class="readRanobe">
        <h1><a asp-page="/Ranobes/Ranobe" asp-route-ranobeId="@Model.Ranobe.Id">@Model.Ranobe.Name</a></h1>
        <div class="chapterNavigation">
            @if (Model.Ranobe.RanobePages.First() == Model.RanobePage)
            {

            }
            else
            {
                <a class="predChapter" asp-page="/Ranobes/RanobeRead" asp-route-ranobeId="@Model.Ranobe.Id"
                   asp-route-chapterNumber="@(Model.RanobePage.ChapterNumber - 1)">Предыдущая глава</a>
            }
                <select onchange="window.location.href = this.options[this.selectedIndex].value">
                    @foreach (var p in Model.Ranobe.RanobePages)
                    {
                        if (p.Name != null)
                        {
                            if (p.ChapterNumber == Model.RanobePage.ChapterNumber)
                            {
                                <option selected="" value="/Ranobes/@Model.Ranobe.Id/@p.ChapterNumber">Глава @p.ChapterNumber - @p.Name</option>
                            }
                            else
                            {
                                <option value="/Ranobes/@Model.Ranobe.Id/@p.ChapterNumber">Глава @p.ChapterNumber - @p.Name</option>
                            }
                        }
                        else
                        {
                            if (p.ChapterNumber == Model.RanobePage.ChapterNumber)
                            {
                                <option selected="" value="/Ranobes/@Model.Ranobe.Id/@p.ChapterNumber">Глава @p.ChapterNumber</option>
                            }
                            else
                            {
                                <option value="/Ranobes/@Model.Ranobe.Id/@p.ChapterNumber">Глава @p.ChapterNumber</option>
                            }
                        }
                    }
                </select>
            @if (Model.Ranobe.RanobePages.Last() == Model.RanobePage)
            {

            }
            else
            {
                <a class="nextChapter" asp-page="/Ranobes/RanobeRead" asp-route-ranobeId="@Model.Ranobe.Id"
                   asp-route-chapterNumber="@(Model.RanobePage.ChapterNumber + 1)">Следующая глава</a>
            }

        </div>
        @if (Model.RanobePage.Name != null)
        {
            <p>Глава @Model.RanobePage.ChapterNumber - @Model.RanobePage.Name</p>
        }
        else
        {
            <p>Глава @Model.RanobePage.ChapterNumber</p>
        }
        
        <font class="textChapter">
            @Model.RanobePage.Text
        </font>
        <div class="chapterNavigation">
            @if (Model.Ranobe.RanobePages.First() == Model.RanobePage)
            {

            }
            else
            {
                <a class="predChapter" asp-page="/Ranobes/RanobeRead" asp-route-ranobeId="@Model.Ranobe.Id"
                   asp-route-chapterNumber="@(Model.RanobePage.ChapterNumber - 1)">Предыдущая глава</a>
            }
                <select onchange="window.location.href = this.options[this.selectedIndex].value">
                    <option>Содержание</option>
                    @foreach (var p in Model.Ranobe.RanobePages)
                    {
                        if (p.Name != null)
                        {
                            if (p.ChapterNumber == Model.RanobePage.ChapterNumber)
                            {
                                <option selected="" value="/Ranobes/@Model.Ranobe.Id/@p.ChapterNumber">Глава @p.ChapterNumber - @p.Name</option>
                            }
                            else
                            {
                                <option value="/Ranobes/@Model.Ranobe.Id/@p.ChapterNumber">Глава @p.ChapterNumber - @p.Name</option>
                            }
                        }
                        else
                        {
                            if (p.ChapterNumber == Model.RanobePage.ChapterNumber)
                            {
                                <option selected="" value="/Ranobes/@Model.Ranobe.Id/@p.ChapterNumber">Глава @p.ChapterNumber</option>
                            }
                            else
                            {
                                <option value="/Ranobes/@Model.Ranobe.Id/@p.ChapterNumber">Глава @p.ChapterNumber</option>
                            }
                        }
                    }
                </select>
            @if (Model.Ranobe.RanobePages.Last() == Model.RanobePage)
            {

            }
            else
            {
                <a class="nextChapter" asp-page="/Ranobes/RanobeRead" asp-route-ranobeId="@Model.Ranobe.Id"
                   asp-route-chapterNumber="@(Model.RanobePage.ChapterNumber + 1)">Следующая глава</a>
            }
        </div>
    </div>
</section>