@page "/Ranobes/{RanobeId}"
@model AMR_Project.Pages.Ranobes.RanobeModel
@{
}
<section class="conteiner">
    <div class="title">
        <div>

            @{
                if (Model.Ranobe.MainImage != null)
                {
                    <img class="imgTitle"
                         src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Ranobe.MainImage))"
                         alt="@Model.Ranobe.Name"
                         title="@Model.Ranobe.Name"/>
                }
                else
                {
                    <img class="imgTitle"
                         alt="@Model.Ranobe.Name"
                         title="@Model.Ranobe.Name"/>
                }
            }
            <a class="buttonRead" asp-page="/Ranobes/RanobeRead" asp-route-ranobeId="@Model.Ranobe.Id"
               asp-route-chapterNumber="@Model.Ranobe.RanobePages[0].ChapterNumber">Читать</a>
            <form method="post" asp-page-handler="Select">
                <select name="selectList" class="listOfLists" onchange="this.form.submit()">
                    <option selected>Добавить в список</option>
                    <option value="Watching">Смотрю</option>
                    <option value="Dropped">Брошено</option>
                    <option value="Planned">Запланировано</option>
                    <option value="Watched">Просмотренно</option>
                </select>
            </form>
        </div>
        <div>
            <h1>@Model.Ranobe.Name / @Model.Ranobe.OriginalName</h1>
            <p>Рейтинг: @Model.AvgRating Кол-во голосов: @Model.Ranobe.RatingPeopleCount</p>
            <hr>
            <nav class="menuTitle">
                <span class="menuTitle-item" id="menuInfo">Информация</span>
                <span class="menuTitle-item" id="menuChapters">Главы</span>
                <span class="menuTitle-item" id="menuComments">Комментарии</span>
            </nav>
            <div class="columnInfoTitle">
                <div class="nameInfoTitle">
                    <p>Альтернативные названия</p>
                    <p>Тип</p>
                    @if (Model.Ranobe.PublishType != null)
                    {
                        <p>Тип выпуска</p>
                    }
                    <p>Год релиза</p>
                    <p>Загружено глав</p>
                    <p>Статус</p>
                    <p>Статус перевода</p>
                    <p>Жанры</p>
                    <p>Рейтинг MPAA</p>
                    <p>Теги</p>
                    <p>Автор</p>
                    <p>Издательство</p>
                    <p>Переводчик</p>
                </div>
                <div>
                    <p>@Model.Ranobe.JapanName</p>
                    <p>@Model.Ranobe.Type</p>
                    @if (Model.Ranobe.PublishType != null)
                    {
                        <p>@Model.Ranobe.PublishType</p>
                    }
                    <p>@Model.Ranobe.Year</p>
                    <p>@Model.Ranobe.ChapterCount</p>
                    <p>@Model.Ranobe.Status</p>
                    <p>@Model.Ranobe.StatusOfTranslate</p>
                    <p>
                        @foreach (var genre in Model.Ranobe.Genres)
                        {
                            <label>@genre.Name</label>
                        }
                    </p>
                    <p>@Model.Ranobe.AgeRating</p>
                    <p>
                        @foreach (var tag in Model.Ranobe.Tags)
                        {
                            <label>@tag.Name</label>
                        }
                    </p>
                    <p>@Model.Ranobe.Author.Name</p>
                    <p>@Model.Ranobe.Publisher</p>
                    <p>@Model.Ranobe.Translator.Name</p>
                </div>
            </div>
            <div class="columnChaptersTitle displayNone">
                <div class="nameChapterTitle">
                    @foreach (var p in Model.Ranobe.RanobePages)
                    {
                        @if (p.Name != null)
                        {
                            <p><a>Том @p.Tome Глава @p.ChapterNumber - @p.Name</a></p>
                        }
                        else
                        {
                            <p><a>Том @p.Tome Глава @p.ChapterNumber </a></p>
                        }

                    }
                    <p><a>Том 1 Глава 1</a></p>
                    <p><a>Том 1 Глава 2</a></p>
                    <p><a>Том 1 Глава 3</a></p>
                    <p><a>Том 1 Глава 4</a></p>
                    <p><a>Том 1 Глава 5</a></p>
                    <p><a>Том 1 Глава 6</a></p>
                    <p><a>Том 2 Глава 7 - Студенческий совет</a></p>
                    <p><a>Том 2 Глава 8 - Стресс и антистресс</a></p>
                    <p><a>Том 2 Глава 9 - Счастливый мартовский День рождения</a></p>
                </div>
                <div class="translatorChaptersTitle">
                    <p>&#x263A; admin</p>
                    <p>&#x263A; admin</p>
                    <p>&#x263A; admin</p>
                    <p>&#x263A; admin</p>
                    <p>&#x263A; admin</p>
                    <p>&#x263A; admin</p>
                    <p>&#x263A; admin</p>
                    <p>&#x263A; admin</p>
                    <p>&#x263A; admin</p>
                </div>
                <div class="dateAddedChapterTitle">
                    <p>11.01.2022</p>
                    <p>11.01.2022</p>
                    <p>11.01.2022</p>
                    <p>11.01.2022</p>
                    <p>11.01.2022</p>
                    <p>11.01.2022</p>
                    <p>11.01.2022</p>
                    <p>11.01.2022</p>
                    <p>11.01.2022</p>
                </div>

            </div>
            <div class="columnCommentsTitle displayNone">

            </div>
        </div>
    </div>
    <div class="description">
        <h2>Описание</h2>
        <p>@Model.Ranobe.Description</p>
    </div>
    </section>